<footer>
    <div class="mainULs">
    <ul class="about">
        <li class="mainLi">About</li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Our Services</a></li>
        <li><a href="">Corporate Information</a></li>
        
    </ul>

    <ul class="social">
        <li class="mainLi"> Social</li>
        <li><a href="#">Facebook</a></li>
        <li><a href="">Instagram</a></li>
        <li><a href="">Twitter</a></li>
    </ul>

    <ul class="help">
        <li class="mainLi">Help</li>
        <li><a href="">Payments</a></li>
        <li><a href="">Shipping</a></li>
        <li><a href="">Cancelation & Returns</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Report</a></li>
    </ul>
    <div class="line"></div>

    <ul class="email">
        <li class="mainLi">Mail Us</li>
  <p class="emailDetail">Flipkart Internet Private Limited,

    Buildings Alyssa, Begonia &
    
    Clove Embassy Tech Village,
    
    Outer Ring Road, Devarabeesanahalli Village,
    
    Bengaluru, 560103,
    
    Karnataka, India</p>
    </ul>
    
    </div>

    <div class="lowerFooter">
        <p>c 2007-2023 Shopsy.com</p>
    </div>
</footer>
<script src="js/index.js"></script>
</body>
</html>