<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping App</title>

    <!-- CSS LINK -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Font awesome link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>  
    <nav>
        <h1 class="brand">Shopsy</h1>
     <button class="navBtn"><i class="fas fa-bars"></i></button>
        <ul class="navItems">
            <li class="navItem"><a href="/">Home</a></li>
            <li class="navItem"><a href="/about">About</a></li>
            <li class="navItem"><a href="/contact">Contact Us</a></li>
            <li class="navItem"><a href="/logIn">Log in</a></li>

            <li class="navItem"><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
