    <h1>Log in to your account</h1>

    <h4>Loging using social media</h4>
<div class="socialApp">
    <!-- Google Icon -->
<a href="/auth/google" role="button"><img src="/googleLogo.png" alt="Google"></a>
<!-- Facebook Icon -->
<a href="" role="button"><i class="fab fa-facebook"></i></a>

<!-- LinkedIn Icon -->
<a href="" role="button"><i class="fab fa-linkedin"></i></a>

</div>
  <h5>Or</h5>
    <div class="email">
   
    <input type="email" placeholder="Email" name="username">
</div>

<div class="password">
    
    <input type="password" placeholder="password" name="password">
</div>
