<%-include("partials/header.ejs")%>
<section class="globalDesi">


<div class="brandSection">
    <form id="brandForm" class="globalForm" action="/selectedItem" method="Post">

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>VebNor</h5>
            <h6>₹300</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n2.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>HELGREY</h5>
            <h6>₹500</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n3.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>U Turn</h5>
            <h6>₹400</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n4.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Plus91</h5>
            <h6>₹999</h6>
         </div> 
         <button class="hiddenButton" name="brand" value="ALDO" style="display: none;" type="submit">Click Me</button>
   
    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n5.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Dennis</h5>
            <h6>₹1099</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit"  name="brand" value="GANT">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n6.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>COMBRAIDED</h5>
            <h6>₹800</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n7.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>clinch fashion</h5>
            <h6>₹899</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n8.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Solbiza</h5>
            <h6>₹200</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>


</form>

</section>

<%-include("partials/footer.ejs")%>
