<%-include("partials/header.ejs")%>
<section class="globalDesi">


<div class="brandSection">
    <form id="brandForm" class="globalForm" action="/selectedItem" method="Post">

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Motifs Kurta</h5>
            <h6>₹1,499</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo2.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Floral Top</h5>
            <h6>₹600</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo3.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Foil Print Bottom</h5>
            <h6>₹440</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo4.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Teal Floral Straight Kurta</h5>
            <h6>₹999</h6>
         </div> 
         <button class="hiddenButton" name="brand" value="ALDO" style="display: none;" type="submit">Click Me</button>
   
    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo5.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Ethnic Motifs Straight Kurta</h5>
            <h6>₹999</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit"  name="brand" value="GANT">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo6.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Mint Floral Pleated Sharara</h5>
            <h6>₹600</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo7.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Yellow Floral TABARD Kurta</h5>
            <h6>₹870</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo8.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Off White Floral Fit and Flare Top</h5>
            <h6>₹1250</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo9.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Yellow Floral Sheath Top</h5>
            <h6>₹570</h6>
         </div> 
         <button class="hiddenButton" name="brand" value="ALDO" style="display: none;" type="submit">Click Me</button>
   
    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo10.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Purple Khadi Kurta</h5>
            <h6>₹420</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit"  name="brand" value="GANT">Click Me</button>

    </div>

</form>

</section>

<%-include("partials/footer.ejs")%>
