<%-include("partials/header.ejs")%>
<div class="logInMaster">
    <form class="loginForm" action="/login" method="Post">
    <%-include("partials/signLog.ejs")%>
    <button class="logged">Log In</button>
</form>
<div class="signupCommand">
<h1>New Here?</h1>
<p>Sign up and shop now</p>
<a href="/signIn" class="signBtn">Sign Up</a>
</div>
</div>