<%-include("partials/header.ejs")%>
<section class="globalDesi">


<div class="brandSection">
    <form id="brandForm" class="globalForm" action="/selectedItem" method="Post">

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n2.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Casual Shirt</h5>
            <h6>₹100</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/fcukImgs/n1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Slim Casual Shirts</h5>
            <h6>₹200</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo6.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Floral</h5>
            <h6>₹500</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/globalImgs/glo1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Kurti</h5>
            <h6>₹400</h6>
         </div> 
         <button class="hiddenButton" name="brand" value="ALDO" style="display: none;" type="submit">Click Me</button>
   
    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f6.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Men Shirt</h5>
            <h6>₹400</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit"  name="brand" value="GANT">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Fancy Shirt</h5>
            <h6>₹500</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/womens/w3.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Full ChudiDaar Kurti</h5>
            <h6>₹100</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/womens/w1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Chudidaar Kurti</h5>
            <h6>₹150</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
      <img src="css/img/sneakers/s9.jpg" alt="Brand Image" class="brandImg">
       <div class="brandDetail">
          <h5>Puma</h5>
          <h6>₹1400</h6>
       </div> 
       <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

  </div>

  <div class="brandContent items">
   <img src="css/img/sneakers/s10.jpg" alt="Brand Image" class="brandImg">
    <div class="brandDetail">
       <h5>Nike Shoes</h5>
       <h6>₹800</h6>
    </div> 
    <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

</div>


</form>

</section>

<%-include("partials/footer.ejs")%>
