<%-include("partials/header.ejs")%>
<section class="globalDesi">


<div class="brandSection">
    <form id="brandForm" class="globalForm" action="/selectedItem" method="Post">

    <div class="brandContent items jus">
        <img src="css/img/nauticaImgs/f1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Men Cotton Slim Casual Shirt
            </h5>
            <h6>₹1300</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="aj" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f2.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Men Cotton Casual Shirt</h5>
            <h6>₹1290</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f3.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Pure Cotton Shirt</h5>
            <h6>₹1000</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f4.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Slim Fit Shirt</h5>
            <h6>₹3000</h6>
         </div> 
         <button class="hiddenButton" name="brand" value="ALDO" style="display: none;" type="submit">Click Me</button>
   
    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f5.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Printed Casual</h5>
            <h6>₹1200</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit"  name="brand" value="GANT">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f6.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Tailored Fit Casual</h5>
            <h6>₹3000</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f7.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Checked Casual Shirt</h5>
            <h6>₹1200</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/nauticaImgs/f8.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Casual Shirt</h5>
            <h6>₹200</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>


</form>

</section>

<%-include("partials/footer.ejs")%>
