<%-include("partials/header.ejs")%>
<div class="logInMaster">
    <form class="loginForm" action="/register" method="Post">
    <%-include("partials/signLog.ejs")%>
    <button class="logged">Sign In</button>
</form>
<div class="signupCommand">
<h1>Already signed</h1>
<p>Log in now</p>
<a href="/logIn" class="signBtn">Log in</a>
</div>
</div>