<%-include("partials/header.ejs")%>
<section class="globalDesi">


<div class="brandSection">
    <form id="brandForm" class="globalForm" action="/selectedItem" method="Post">

    <div class="brandContent items">
        <img src="css/img/sneakers/s1.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Trendy & Stylish Loafers For Men</h5>
            <h6>₹800</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s2.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Sneakers For Men</h5>
            <h6>₹999</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s3.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Funky Shoes For Men</h5>
            <h6>₹15000</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s4.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Lace Up For Men</h5>
            <h6>₹2000</h6>
         </div> 
         <button class="hiddenButton" name="brand" value="ALDO" style="display: none;" type="submit">Click Me</button>
   
    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s5.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Casual shoes for men</h5>
            <h6>₹300</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit"  name="brand" value="GANT">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s6.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Fancy shoes</h5>
            <h6>₹2000</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" value="globalDesi" name="brand">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s7.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Nike shoes</h5>
            <h6>₹13000</h6>
            
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="fcuk">Click Me</button>

    </div>

    <div class="brandContent items">
        <img src="css/img/sneakers/s8.jpg" alt="Brand Image" class="brandImg">
         <div class="brandDetail">
            <h5>Abibass Shoes</h5>
            <h6>₹100</h6>
         </div> 
         <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

    </div>

    <div class="brandContent items">
      <img src="css/img/sneakers/s9.jpg" alt="Brand Image" class="brandImg">
       <div class="brandDetail">
          <h5>Puma Shoes</h5>
          <h6>₹5000</h6>
       </div> 
       <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

  </div>

  <div class="brandContent items">
   <img src="css/img/sneakers/s10.jpg" alt="Brand Image" class="brandImg">
    <div class="brandDetail">
       <h5>Party Shoes</h5>
       <h6>₹999</h6>
    </div> 
    <button class="hiddenButton"  style="display: none;" type="submit" name="brand" value="NAUTICA">Click Me</button>

</div>


</form>

</section>

<%-include("partials/footer.ejs")%>
